/* Falta ver:
por que a página está abrindo no fim
Fazer algo em relação ao form, tirar/ arrumar aquela “(” que fica aparecendo sozinha antes do texto começar
Colocar footer
Colocar um fundo de folhas, talvez. */

:root {
  --primary-color: #3c929c;
  --primary-font: "Handlee", cursive;
  --secondary-color: #fffdf6;
  --secondary-font: "Poppins", sans-serif;
  --tertiary-color: #156875;
}

body {
  background-color: var(--primary-color);
  /* background-color: #b9decc8e; */
}

h1 {
  font-family: var(--primary-font);
  font-size: 45px;
  margin-bottom: 10px;
}

h2 {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: normal;
}

p,
li {
  font-family: var(--secondary-font);
  font-weight: normal;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

/* BEGIN OF THE HEADER */
header {
  background-color: #fff8ee;
  margin-top: 80px;
  padding: 0;
}

header h1 {
  color: var(--primary-color);
  font-size: 78px;
}

header h2 {
  color: var(--primary-color);
}

.grid {
  display: grid;
}

.grid-header {
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.header-item-left {
  padding: 70px 20px 70px 100px;
}

/* Garante que a imagem se ajuste à largura do contêiner pai */
.header-item-right img {
  max-width: 70%;
  padding-left: 80px;
}

/* END OF THE HEADER */

/* BEGIN OF THE MAIN-FIRST-DIVISION */
.first-division {
  background-color: #156875;
  color: #fffdf6;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

.first-division-item-right {
  padding: 50px 60px 30px 0;
}

/* .first-division-item-left img {
  max-width: 60%;
  padding-left: 90px;
} */

.triad-image-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.triad-image-wrapper {
  height: 496px;
  overflow: visible;
  position: relative;
  width: 500px;
}

.triad-image {
  height: auto;
  max-width: 460px;
  position: absolute;
  top: -150px;
}

.first-division h1 {
  color: var(--secondary-color);
  font-size: 38px;
}

.first-division p {
  color: var(--secondary-color);
  font-size: 20px;
}
/* END OF THE MAIN-FIRST-DIVISION */

/* BEGIN OF THE MAIN-SECOND-DIVISION */
.second-division {
  /* background-color: #fffdf6; */
  /* background: #9dd7c2; */
  /* background: #be9368; */
  background: #bc6b32;
  /* color: #156875; */
  color: #fffdf6;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 45px;
}

.second-division h1 {
  margin-left: 0;
}

.second-division li {
  font-size: 20px;
}

.second-division ul {
  margin-left: 0;
}

.robin-image-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.image-wrapper {
  height: 280px;
  overflow: visible;
  position: relative;
  width: 380px;
}

.robin-image {
  border-radius: 42% 58% 61% 39% / 77% 44% 56% 23%;
  height: auto;
  max-width: 400px;
  position: absolute;
  top: -90px;
}

.biodiverty-image-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bio-image-wrapper {
  height: 400px;
  overflow: visible;
  position: relative;
  width: 100px;
}

.butterfly-image {
  /* border-radius: 62% 38% 71% 29% / 30% 38% 62% 70%; */
  border-radius: 50%;
  height: auto;
  max-width: 150px;
  position: absolute;
  top: -30px;
  right: -130px;
}

.yoga-image {
  /* border-radius: 55% 45% 50% 50% / 43% 66% 34% 57%; */
  border-radius: 50%;
  height: auto;
  max-width: 130px;
  position: absolute;
  top: 29px;
  left: -120px;
}

.heat-image {
  /* border-radius: 48% 52% 34% 66% / 37% 84% 16% 63%; */
  border-radius: 50%;
  height: auto;
  max-width: 96px;
  position: absolute;
  top: 220px;
  left: 114px;
}

.dandelions-image {
  border-radius: 100%;
  height: auto;
  max-width: 124px;
  position: absolute;
  top: 300px;
}

.leaves-image {
  border-radius: 50%;
  height: auto;
  max-width: 100px;
  position: absolute;
  top: 131px;
  left: 10px;
}
/* END OF THE MAIN-SECOND-DIVISION */

/* BEGIN OF THE THIRD-DIVISION */
.third-division {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

.form-division {
  padding: 5px 350px 100px 350px;
}

.third-division-text {
  padding-top: 100px;
}

.third-division h1 {
  color: var(--secondary-color);
  font-size: 45px;
  margin: 0;
  padding: 0 50px;
  text-align: center;
}

.third-division h2 {
  color: var(--secondary-color);
  font-size: 18px;
  margin: 0px 100px;
  padding: 20px 250px 45px 250px;
  text-align: center;
}

.third-division form {
  display: flex;
}

.form-container {
  background-color: #fff8ee;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 15px 20px;
}

.instructions {
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 50px;
  color: #272044;
  font-size: 16px;
  line-height: 20px;
  padding: 16px;
  width: 80%;
}

.submit-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  color: var(--secondary-color);
  font-size: 16px;
  margin-left: 10px;
  padding: 14px 24px;
  width: 150px;
}

.advice {
  border-left: 3px solid var(--secondary-color);
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  padding: 20px;
}

.advice p {
  margin-top: 0;
}

.hint {
  color: var(--primary-color);
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
}
/* END OF THE THIRD-DIVISION */
