:root {
  --primary-font: "Handlee", cursive;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #3c929c;
  --section-two-color: #156875;

  --secondary-color: #fffdf6;
}

body {
  /* background-color: #b9decc8e; */
  background-color: var(--primary-color);
}

h1 {
  font-family: var(--primary-font);
  font-size: 60px;
  margin-bottom: 10px;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: normal;
  color: var(--primary-color);
}

p,
li {
  font-family: var(--secondary-font);
  font-weight: normal;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* Begin of Header */
header {
  margin-top: 80px;
  padding: 50px;
  background-color: #fffdf6;
}

header h1 {
  color: var(--primary-color);
}

header h2 {
  color: var(--primary-color);
}

.grid {
  display: grid;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-item-left {
  padding: 100px 20px 20px 100px;
}

/* Garante que a imagem se ajuste à largura do contêiner pai */
.grid-item-house-img img {
  padding-left: 80px;
  max-width: 60%;
}
/* END OF THE HEADER */

/* BEGIN OF THE MAIN-FIRST-GRID SECTION */
.main-first-grid {
  padding: 50px;
  background-color: #156875;
  color: #fffdf6;
}

.grid-item-right {
  padding: 50px 60px 30px 0;
}

.main-first-grid-img img {
  padding-left: 90px;
  max-width: 60%;
}

.main-first-grid h1 {
  font-size: 38px;
  color: var(--secondary-color);
}

.main-first-grid p {
  font-size: 20px;
  color: var(--secondary-color);
}
/* END OF THE MAIN-FIRST-GRID SECTION */

/* BEGIN OF THE MAIN-SECOND-GRID SECTION */

.main-second-grid {
  grid-template-columns: 2fr 1fr;
  grid-gap: 0;
  padding: 50px;
  color: #156875;
  background-color: #fffdf6;
}

.main-second-grid h1 {
  margin-left: 50px;
}

.main-second-grid li {
  font-size: 20px;
}

.main-second-grid ul {
  list-style: square;
  margin-left: 40px;
}

.main-second-grid-img img {
  max-width: 100%;
}

/* END OF THE MAIN-SECOND-GRID SECTION */

/* BEGIN OF THE MAIN-THIRD SECTION */
.main-third {
  padding: 50px;
  background-color: var(--section-two-color);
  color: var(--secondary-color);
}

.garden-expert-box {
  margin: 120px auto;
  max-width: 700px;
}

.main-third h1 {
  font-size: 48px;
  text-align: center;
}

.main-third-item-top p {
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
}

form {
  padding: 30px;
  box-shadow: 0 20px 60px rgba(65, 50, 100, 0.08);
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.main-third-item-botton p {
  margin-top: 20px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  color: var(--secondary-color);
  border-left: 3px solid var(--secondary-color);
  border-radius: 10px;
}

/* END OF THE MAIN-THIRD SECTION */

.explore-urban-gardens {
  padding: 200px 50px;
  color: var(--section-two-color);
  background-color: var(--secondary-color);
}

footer {
  padding: 200px 50px;
  background-color: var(--secondary-color);
  text-align: center;
}
