body {
  background-color: #b9deccc0;
}

.container {
  background-color: white;
  max-width: 1800px;
  margin: 80px;
}

/* Begin of Header */
header {
  padding: 100px 50px;
  background-color: #fffdf6;
}

.grid {
  display: grid;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-item {
  padding: 20px;
}

/* Garante que a imagem se ajuste à largura do contêiner pai */
.grid-item img {
  max-width: 100%;
}

/* End of Header */

.why-having-urban-gardens {
  padding: 200px 50px;
  background-color: #156875;
  color: #fffdf6;
}

.benefits-urban-gardens {
  padding: 200px 50px;
  color: #156875;
  background-color: #fffdf6;
}

.explore-urban-gardens {
  padding: 200px 50px;
  background-color: #156875;
  color: #fffdf6;
}

footer {
  padding: 200px 50px;
  background-color: #fffdf6;
  text-align: center;
}
